
.createcustomer{
    display:flex;
    flex-direction: column;
    padding :10px;
    align-items: center;
    justify-self:center;
    align-self: center;
    margin-left:200px;
    margin-top:120px;
    width:500px;
    border-radius: 25px;
    border:1px solid black;
    box-shadow: 4px 8px 8px 0 rgb(0, 14, 36);
}
.button-create{

    background-color: rgb(151, 0, 245);
}